[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = sidhu80
	email = 70008858+sidhu80@users.noreply.github.com
[init]
	defaultBranch = head
